body {
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background: #000;
}

div.row {
    display: block;
}
div.songDetails {
    background: #020505;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 20px;
    width: 500px;
}
div.playerDetails {
    background: #050205;
    border: 1px solid grey;
    margin: 20px;
    border-radius: 10px;
    width: 350px;
}
div.controls {
    margin: 20px;
}
div.header,div.value {
    display: inline-block;
    padding: 5px;
}
div.header {
    width: 150px;
}
div.value {
    width: 150px;
}
div.header {
    font-weight: bold;
}
.hidden {
   display:none;
}

div.song-pattern-container {
    height: 400px;
    overflow-y: hidden;
    display:block;
    position:absolute;
}
table.song-pattern {
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 8pt;
    border-collapse: collapse;
}
table.song-pattern tr.playing {
    background-color: #022;
}
table.song-pattern tr.alternate-row.playing {
    background-color: #002020;
}
table.song-pattern tr.alternate-row {
    background-color: #050505;
}
table.song-pattern td {
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-top: 1px solid #211;
    border-bottom: 1px solid #211;
    padding-left: 5px;
    padding-right: 5px;
}
table.song-pattern th {
    font-weight: bold;
    font-size: 12pt;
}
th.pattern-row-num {
    padding-left: 10px;
    padding-right: 10px;
}